In [1]:
import pandas as pd

In [2]:
## reading the cvs file
df = pd.read_csv('house_prices.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
## to find median of bedrooms column
m = df.bedrooms.median()
m

4.0

In [4]:
### In pandas we have fillna function by which we can fill empty or NaN values
df.bedrooms=df.bedrooms.fillna(m)
df.bedrooms

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [5]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
## X comprises of area, bedrooms, and age
X = df.drop(['price'],axis=1)
X

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [7]:
## y comprises of target variable i.e price
y = df.price
y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [8]:
## Training the linear regression model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
## Linear regression equation is of the form 
##          y = m1x1 + m2x2 + m3x3 + b

In [10]:
## coef_ tells us about the coefficients value which are m1, m2 and m3 in this case.
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [11]:
## intercept_ tells us about the constant value i.e. value of b.
model.intercept_

221323.00186540408

In [12]:
## for prdicting the values
model.predict([[3400,3,5]])

array([656343.35515931])

In [13]:
## for finding the accuracy of the model.
model.score(X,y)

0.9550196399325819